name: AzureARMSample

on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: [main]
  # Allow mannually trigger
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      ResourceGroupName: github-action-arm-rg
      ResourceGroupLocation: "uksouth"
    steps:
    - uses: actions/checkout@master
      name: checkout
    - uses: azure/login@v1
      name: azure-login
      with:
        creds: '{"clientId":"${{ secrets.CLIENT_ID }}","clientSecret":"${{ secrets.CLIENT_SECRET }}","subscriptionId":"${{ secrets.SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TENANT_ID }}"}'
    - uses: Azure/CLI@v1
      name: create-resource-group
      with:
        inlineScript: |
          #!/bin/bash
          az group create --name ${{ env.ResourceGroupName }} --location ${{ env.ResourceGroupLocation }}
          echo "Azure resource group created"
    - name: deploy
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ env.ResourceGroupName }}
        template: ./main.bicep
        parameters: >
          storageAccountName=githubactionarmstorage
          storageAccountType=Standard_LRS
          location=${{ env.ResourceGroupLocation }}
        failOnStdErr: false
